#VGA

NET "rgb[0]"LOC = T20      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
#NET "b[1]"LOC = R20      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
#NET "b[2]"LOC = T22      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
#NET "b[3]"LOC = T23      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[1]"LOC = R22      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
#NET "g[1]"LOC = R23      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
#NET "g[2]"LOC = T24      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
#NET "g[3]"LOC = T25      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[2]"LOC = N21      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
#NET "r[1]"LOC = N22      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
#NET "r[2]"LOC = R21      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
#NET "r[3]"LOC = P21      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "hsync"LOC = M22       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vsync" LOC = M21      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;

NET "clk" LOC = AC18       | IOSTANDARD = LVCMOS18 ;
 
net "btn[0]" loc = AA10   	| IOSTANDARD = LVCMOS15 ;
net "btn[1]" loc = AB10   	| IOSTANDARD = LVCMOS15 ;
net "reset" loc = AF10     | IOSTANDARD = LVCMOS15 ;