#VGA
NET "clk" LOC = AC18       | IOSTANDARD = LVCMOS18 ;
 
net "btn" loc = AA10   	| IOSTANDARD = LVCMOS15 ;
net "reset" loc = AF10     | IOSTANDARD = LVCMOS15 ;
net "buzzer" loc
NET "rgb[0]" LOC = N21     | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[1]" LOC = N22     | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[2]" LOC = R21     | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[3]" LOC = P21     | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[4]" LOC = R22     | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[5]" LOC = R23     | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[6]" LOC = T24     | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[7]" LOC = T25     | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[8]" LOC = T20     | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[9]" LOC = R20     | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[10]" LOC = T22    | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[11]" LOC = T23    | IOSTANDARD = LVCMOS33 | SLEW = FAST ;


NET "hsync" LOC = M22      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vsync" LOC = M21      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;

NET "Buzzer" LOC = AF24      | IOSTANDARD = LVCMOS33 ;